@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

a{
  font-family: 'Barlow', sans-serif;
}
  .bitmap{
    background: url(/public/Bitmap.jpg) no-repeat center/cover;
  }
  .plan{
    background: url(/public/plan.png) no-repeat center/cover;
  }