@import "tailwindcss/preflight";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Google Fonts loaded from index.html */
a{
  font-family: 'Barlow', sans-serif;
}
.bitmap{
  background: url(/Bitmap.jpg) no-repeat center/cover;
}
.plan{
  background: url(/plan.png) no-repeat center/cover;
}